/* Client-side input validation */
input:invalid {
    border: 1px solid red;
  }
  
  input:valid {
    border: 2px solid black;
  }

  .top {
    background-color: mediumspringgreen;
    color: magenta;
  }

#font-colors {
  color: rgb(231, 0, 52);
  text-shadow:
    -1px -1px 0 #000,
    1px -1px 0 #000,
    -1px 1px 0 #000,
    1px 1px 0 #000;
}

  .font-color {
    color: white;
  }

  body {
    background-image: url("http://wallpapersin4k.net/wp-content/uploads/2017/02/Humor-Comic-Wallpapers.jpg");
  }

  #usainbolt {
    background-image: url("https://i.imgur.com/MRCb55h.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 20% 80%;
  }

  #animalrun {
    background-image: url("https://i.imgur.com/Kol8Hq4.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 50%;
  }

  #runs {
    background-image: url("https://i.imgur.com/2dGR0OS.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 50%;
  }

    #signup {
      float: left;
    }

    #fade {
      color: white;
    text-shadow:
    -1px -1px 0 #000,
    1px -1px 0 #000,
    -1px 1px 0 #000,
    1px 1px 0 #000;
    }
.table {
  background-color: rgba(0, 0, 0, 0.803)
}

td {

  color: white;
  text-shadow:
  -1px -1px 0 #000,
  1px -1px 0 #000,
  -1px 1px 0 #000,
  1px 1px 0 #000;

}