/* Client-side input validation */
input:invalid {
    border: 1px solid red;
  }
  
  input:valid {
    border: 2px solid black;
  }

  .top {
    background-color: mediumspringgreen;
    color: magenta;
  }

#font-colors {
  color: rgb(245, 111, 82);
  text-shadow:
    -1px -1px 0 #000,
    1px -1px 0 #000,
    -1px 1px 0 #000,
    1px 1px 0 #000;
}

  .font-color {
    color: white;
  }

  body {
    background-position: 45% 55%;
    background-image: url("../images/body-bg.jpg");
  }

  #usainbolt {
    background-image: url("../images/usain-bolt.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 20% 80%;
  }

  #animalrun {
    background-image: url("../images/cheetah.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 50%;
  }

  #runs {
    background-image: url("../images/beach-runner.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 50%;
  }

    /* #signup {
      float: left;
    } */

    #fade {
      color: white;
    text-shadow:
    -1px -1px 0 #000,
    1px -1px 0 #000,
    -1px 1px 0 #000,
    1px 1px 0 #000;
    }
.table {
  background-color: rgba(0, 0, 0, 0.803)
}

td, .span-title {

  color: white;
  text-shadow:
  -1px -1px 0 #000,
  1px -1px 0 #000,
  -1px 1px 0 #000,
  1px 1px 0 #000;

}
h2 {
  color: rgba(255, 255, 255, 0.733);
  text-shadow:
  -1px -1px 0 #000,
  1px -1px 0 #000,
  -1px 1px 0 #000,
  1px 1px 0 #000;
}

#login {
  text-align: center;
}

#signup {
  text-align: center;
}

#user-signup-btn, .cancel {
  margin-top: 10px;
}

.cancel {
  margin-left: 5px
}

#user-login-btn {
  margin-top: 10px;
}

.input-group {
  width: 300px; 
  margin: 0 auto;
}

input {
  text-align: center;
}

#activityDate {
  text-align: left;
}
#totalDistance {
  text-align: left;
}
#totalRunTime {
  text-align: left;
}